@model dynamic

@{
    ViewBag.Title = "string characters test generator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>string characters test generator</h2>

<form class="px-4 py-3">
    <input id="cadena" type="text" name="cadena" class="form-control" style="text-transform: uppercase" placeholder="[#,#]">
    <br/>
    <input id="cadena1" type="text" name="cadena1" class="form-control" style="text-transform: uppercase" placeholder="]#,#]">
    <br/>
    <input id="cadena2" type="text" name="cadena2" class="form-control" style="text-transform: uppercase" placeholder="[#,#[">

    @*<textarea id="textarea1" placeholder=" [#,#] ]#,#] [#,#[ " style="margin: 0px; width: 279px; height: 144px;"></textarea>*@
    <br />
    <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Ranges", "ControllerName")'">TEST</button>
</form>